.tags-row {
  padding: 0.375rem 0 0.875rem 0.75rem;
  display: flex;
  gap: 0.375rem;
  border-bottom: 1px solid var(--border-modal);
  margin-right: 2.375rem;
  &__tag {
    display: flex;
    gap: 0.25rem;
    padding: 0.375rem 0.625rem;
    background: none;
    border: none;
    color: var(--text-label);
    font-size: 0.75rem;
    border: 1px solid var(--border-label);
    border-radius: 0.25rem;
    background: var(--bg-label);
    box-shadow: var(--shadow-label);
    align-items: center;
    &__label {
      white-space: nowrap;
    }
  }
}
