:root {
  --primary-bg: #191a23;
  --secondary-bg: #181922;
  --tertiary-bg: #1d1e2b;
  --text-primary: #eeeffc;
  --text-secondary: #858699;
  --text-tertiary: #4c4f6b;
  --text-label: #dcd8fe90;
  --shadow-modal: 0px 16px 80px 0px #00000080;
  --shadow-card: 0px 2px 4px 0px #0000001a;
}
